<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>red</key>
		<integer>255</integer>
		<key>green</key>
		<integer>255</integer>
		<key>blue</key>
		<integer>255</integer>
	</dict>
    <dict>
        <key>red</key>
        <integer>0</integer>
        <key>green</key>
        <integer>0</integer>
        <key>blue</key>
        <integer>0</integer>
    </dict>
    <dict>
        <key>red</key>
        <integer>70</integer>
        <key>green</key>
        <integer>70</integer>
        <key>blue</key>
        <integer>70</integer>
    </dict>
    <dict>
        <key>red</key>
        <integer>127</integer>
        <key>green</key>
        <integer>127</integer>
        <key>blue</key>
        <integer>127</integer>
    </dict>
    <dict>
        <key>red</key>
        <integer>190</integer>
        <key>green</key>
        <integer>190</integer>
        <key>blue</key>
        <integer>190</integer>
    </dict>
    <dict>
        <key>red</key>
        <integer>165</integer>
        <key>green</key>
        <integer>187</integer>
        <key>blue</key>
        <integer>218</integer>
    </dict>
    <dict>
        <key>red</key>
        <integer>80</integer>
        <key>green</key>
        <integer>130</integer>
        <key>blue</key>
        <integer>200</integer>
    </dict>
    <dict>
        <key>red</key>
        <integer>0</integer>
        <key>green</key>
        <integer>0</integer>
        <key>blue</key>
        <integer>255</integer>
    </dict>
    <dict>
        <key>red</key>
        <integer>0</integer>
        <key>green</key>
        <integer>255</integer>
        <key>blue</key>
        <integer>255</integer>
    </dict>
    <dict>
        <key>red</key>
        <integer>180</integer>
        <key>green</key>
        <integer>230</integer>
        <key>blue</key>
        <integer>0</integer>
    </dict>
    <dict>
        <key>red</key>
        <integer>0</integer>
        <key>green</key>
        <integer>255</integer>
        <key>blue</key>
        <integer>0</integer>
    </dict>
    <dict>
        <key>red</key>
        <integer>255</integer>
        <key>green</key>
        <integer>255</integer>
        <key>blue</key>
        <integer>0</integer>
    </dict>
    <dict>
        <key>red</key>
        <integer>255</integer>
        <key>green</key>
        <integer>0</integer>
        <key>blue</key>
        <integer>255</integer>
    </dict>
    <dict>
        <key>red</key>
        <integer>255</integer>
        <key>green</key>
        <integer>140</integer>
        <key>blue</key>
        <integer>190</integer>
    </dict>
    <dict>
        <key>red</key>
        <integer>255</integer>
        <key>green</key>
        <integer>190</integer>
        <key>blue</key>
        <integer>240</integer>
    </dict>
    <dict>
        <key>red</key>
        <integer>255</integer>
        <key>green</key>
        <integer>180</integer>
        <key>blue</key>
        <integer>0</integer>
    </dict>
    <dict>
        <key>red</key>
        <integer>255</integer>
        <key>green</key>
        <integer>100</integer>
        <key>blue</key>
        <integer>0</integer>
    </dict>
    <dict>
        <key>red</key>
        <integer>243</integer>
        <key>green</key>
        <integer>33</integer>
        <key>blue</key>
        <integer>41</integer>
    </dict>
    <dict>
        <key>red</key>
        <integer>255</integer>
        <key>green</key>
        <integer>0</integer>
        <key>blue</key>
        <integer>0</integer>
    </dict>
</array>
</plist>
