<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Avenir Next</string>
		<key>font</key>
		<string>AvenirNext-Regular</string>
	</dict>
    <dict>
        <key>name</key>
        <string>Avenir Next bold</string>
        <key>font</key>
        <string>AvenirNext-DemiBold</string>
    </dict>
    <dict>
        <key>name</key>
        <string>Apple SD Gothic</string>
        <key>font</key>
        <string>AppleSDGothicNeo-Regular</string>
    </dict>
    <dict>
        <key>name</key>
        <string>Apple SD Gothic bold</string>
        <key>font</key>
        <string>AppleSDGothicNeo-Bold</string>
    </dict>
    <dict>
        <key>name</key>
        <string>Arial</string>
        <key>font</key>
        <string>ArialMT</string>
    </dict>
    <dict>
        <key>name</key>
        <string>Arial bold</string>
        <key>font</key>
        <string>Arial-BoldMT</string>
    </dict>
    <dict>
        <key>name</key>
        <string>Futura</string>
        <key>font</key>
        <string>Futura-Medium</string>
    </dict>
    <dict>
        <key>name</key>
        <string>Futura bold</string>
        <key>font</key>
        <string>Futura-CondensedExtraBold</string>
    </dict>
    <dict>
        <key>name</key>
        <string>Helvetica Neue</string>
        <key>font</key>
        <string>HelveticaNeue</string>
    </dict>
    <dict>
        <key>name</key>
        <string>Helvetica Neue bold</string>
        <key>font</key>
        <string>HelveticaNeue-Bold</string>
    </dict>
    <dict>
        <key>name</key>
        <string>Menlo</string>
        <key>font</key>
        <string>Menlo-Regular</string>
    </dict>
    <dict>
        <key>name</key>
        <string>Menlo bold</string>
        <key>font</key>
        <string>Menlo-Bold</string>
    </dict>
    <dict>
        <key>name</key>
        <string>Times New Roman</string>
        <key>font</key>
        <string>TimesNewRomanPSMT</string>
    </dict>
    <dict>
        <key>name</key>
        <string>Times New Roman bold</string>
        <key>font</key>
        <string>TimesNewRomanPS-BoldMT</string>
    </dict>
</array>
</plist>
